.header {
    margin-top: 90px;
}

.h1 {
    text-align: center;
}

.example-card {
    max-width: 400px;
    margin-left: 35%;
    background-color: ghostwhite;
  }
  
  .header-image {
    height: 60px;
    width: 60px;
    background-size: cover;
  }

  .header-title {
    margin-left: 80%;
  }

  .mat-card-image {
    width: 230px;
    margin: 34px;
    border-radius: 10px;
    margin-left: 22%;
  }

  .btn {
    background-color: #008cb9;
    color: white;
    margin-left: 25%;
  }

  .filename {
    text-align: center;
  }